@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

.chargewp-horizontal-section-timeline-content {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}

.chargewp-horizontal-section-timeline-list {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(250, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Chivo', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
}

.chargewp-horizontal-section-timeline-list h3 {
    color: rgba(255, 255, 255, 0.8);
}


.chargewp-horizontal-section-timeline-list .chargewp-horizontal-section-timeline-title {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
}

.chargewp-horizontal-section-timeline-list .chargewp-horizontal-section-timeline-event {
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.chargewp-horizontal-section-timeline-list .chargewp-horizontal-section-timeline-event:before,
.chargewp-horizontal-section-timeline-list .chargewp-horizontal-section-timeline-event:after {
    position: absolute;
    display: block;
    top: 0;
}

.chargewp-horizontal-section-timeline-list .chargewp-horizontal-section-timeline-event:before {
    left: calc((((120px * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    min-width: 120px;
    font-family: 'Saira', sans-serif;
}

.chargewp-horizontal-section-timeline-list .chargewp-horizontal-section-timeline-event:after {
    left: calc((50px + 4px + (11px * 0.35)) * -1);
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}
