.chargewp-zigzag-timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
}
.chargewp-zigzag-timeline__event {
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 6px;
    align-self: center;
    width: 100%;
    max-width: 50vw;
}
.chargewp-zigzag-timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.chargewp-zigzag-timeline__event__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    max-width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
}
.chargewp-zigzag-timeline__event__date {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
}
.chargewp-zigzag-timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0 20px;
    border-radius: 100%;
    width: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 40px;
    height: 40px;
    position: relative;
}
.chargewp-zigzag-timeline__event__icon i {
    font-size: 32px;
}
.chargewp-zigzag-timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    animation: chargewp-zigzag-timeline-fillTop 2s forwards 4s ease-in-out;
}
.chargewp-zigzag-timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    animation: chargewp-zigzag-timeline-fillLeftOdd 2s forwards 4s ease-in-out;
}
.chargewp-zigzag-timeline__event__description {
    flex-basis: 60%;
}
.chargewp-zigzag-timeline__event:last-child .chargewp-zigzag-timeline__event__icon:before {
    content: none;
}
@media (max-width: 786px) {
    .chargewp-zigzag-timeline__event {
        flex-direction: column;
        align-self: center;
    }
    .chargewp-zigzag-timeline__event__content {
        width: 100%;
    }
    .chargewp-zigzag-timeline__event__icon {
        border-radius: 6px 6px 0 0;
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
    .chargewp-zigzag-timeline__event__icon:before,
    .chargewp-zigzag-timeline__event__icon:after {
        display: none;
    }
    .chargewp-zigzag-timeline__event__date {
        border-radius: 0;
        padding: 20px;
    }
}
@keyframes chargewp-zigzag-timeline-fillLeft {
    100% {
        right: 100%;
    }
}
@keyframes chargewp-zigzag-timeline-fillTop {
    100% {
        top: 100%;
    }
}
@keyframes chargewp-zigzag-timeline-fillLeftOdd {
    100% {
        left: 100%;
    }
}

.chargewp-zigzag-timeline.chargewp-compact .chargewp-zigzag-timeline__event {
    flex-direction: column;
    align-self: center;
}
.chargewp-zigzag-timeline.chargewp-compact .chargewp-zigzag-timeline__event__content {
    width: 100%;
}
.chargewp-zigzag-timeline.chargewp-compact .chargewp-zigzag-timeline__event__icon {
    width: 60px;
    height: 60px;
    padding: 20px;
    max-width: 100%;
    border-radius: 6px 6px 0 0;
    margin: 0;
    box-shadow: none;
}
.chargewp-zigzag-timeline.chargewp-compact .chargewp-zigzag-timeline__event__icon:before,
.chargewp-zigzag-timeline.chargewp-compact .chargewp-zigzag-timeline__event__icon:after {
    display: none;
}
.chargewp-zigzag-timeline.chargewp-compact .chargewp-zigzag-timeline__event__date {
    border-radius: 0;
    padding: 20px;
}
