i.chargewp-vertical-segment-timeline {
    background-image: url('../images/shortcodes/icons/chargewp-vertical-segment-timeline.svg');
}
i.chargewp-zigzag-timeline {
    background-image: url('../images/shortcodes/icons/chargewp-zigzag-timeline.svg');
}
i.chargewp-left-side-stack-timeline {
    background-image: url('../images/shortcodes/icons/chargewp-left-side-stack-timeline.svg');
}
