i.wpbakery-plus-vertical-timeline {
    background-image: url('../images/shortcodes/icons/wpbakery-plus-vertical-timeline.svg');
}
i.wpbakery-plus-vertical-segment-timeline {
    background-image: url('../images/shortcodes/icons/wpbakery-plus-vertical-segment-timeline.svg');
}
i.wpbakery-plus-zigzag-timeline {
    background-image: url('../images/shortcodes/icons/wpbakery-plus-zigzag-timeline.svg');
}
