.chargewp-classic-horizontal-timeline-wrapper-container {
    position: relative;
    width: 100%;
    overflow-x: auto;
}

.chargewp-classic-horizontal-timeline-container {
    position: relative;
    padding: 20px;
}

.chargewp-classic-horizontal-timeline-track {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chargewp-classic-horizontal-timeline-track::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.chargewp-classic-horizontal-timeline-item {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.chargewp-classic-horizontal-timeline-marker {
    position: relative;
    z-index: 3;
}

.chargewp-classic-horizontal-timeline-content {
    position: absolute;
    text-align: center;
    padding: 15px;
}

.chargewp-classic-horizontal-timeline-text {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
