name: Release Build

on:
  push:
    branches:
      - develop
      - master
      - main
      - release/**
      - hotfix/**
  pull_request:
    branches:
      - develop
      - main
      - release/**
      - hotfix/**

jobs:
  statanalys-php:
    name: PHP Stan Stat Analys
    runs-on: ubuntu-latest
    container:
      image: mrdollar4444/plus-wp-builder-wpbakery-03052025:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start MySql
        run: service mysql start

      - name: Install Composer dependencies
        run: php ci/composer.phar install

      - name: Copy plugin into WordPress installation
        run: |
          cp -R "$GITHUB_WORKSPACE" /var/www/html/wp-content/plugins/chargewp-timeline-addons-for-wpbakery

      - name: activate plugin inside wp enviroment
        run:  cd /var/www/html; wp plugin activate chargewp-timeline-addons-for-wpbakery --allow-root; wp plugin list --allow-root

      - name: PHP stan check
        run:  cd /var/www/html/wp-content/plugins/chargewp-timeline-addons-for-wpbakery/ci; ../vendor/bin/phpstan analyse
