name: Release Build

on:
  push:
    branches:
      - develop
      - master
      - main
      - release/**
      - hotfix/**
  pull_request:
    branches:
      - develop
      - main
      - release/**
      - hotfix/**

jobs:
  statanalys-php:
    name: PHP Stan Stat Analys
    runs-on: ubuntu-latest
    container:
      image: mrdollar4444/plus-wp-builder-wpbakery:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Composer dependencies
        run: php ci/composer.phar install

      - name: PHP Stan Stat Analys
        run: cd /; pwd; cd /var/www/html; pwd
